.chatContainer{
    
    background-color: white;
    width: 65%;
    height: 100%;
    position:relative;
}
.chatHeader{
    background-color: white;
    height: 13%;
    display: flex;
    border-bottom: 2px solid whitesmoke;
    align-items: center;
}

.chatHeader__text{
    font-family: "Poppins";
    width: 100%;
    color:black;
}
.chatHeader__text h5{
    margin: 0;
    font-size: 2.3vmax;
    
    font-weight: 700;
    margin-right:1rem;
}
.chatHeader__text > div:first-child{
    display: flex;
    width: 100%;
    align-items: center;

}
.onlineStatus{
    border-radius:100%;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid black;
}
.online{
    background-color: lightgreen;
    border: none;
}
.chatHeader img{
    margin:2.5vmax;
    transition: all .5s;
    width: 2rem;
    /* background-color: white; */
}
.header img:hover{
    transform: scale(1.1);
}
.chatBox{
    /* border:0.2vmax solid black; */
    height: 78%;
    box-sizing: border-box;
    overflow-y:auto;
    background: white;
}
.inputBox{
    border-top:0.2vmax solid rgba(0, 0, 0, 0.124) ;
    height: 9%;
    box-sizing: border-box;
    display: flex;
}


#chatInput{
    width: 80%;
    border:none;
    background-color: white;
    padding: 2vmax;
    box-sizing: border-box;
    outline: none;
    font-size: 1.2vmax;
    font-family: 'Roboto';
}
#sendBtn{
    background-color: blue;
    color: white;
    width: 3rem;
    margin: 0.2rem
 0.5rem;
    border-radius: 100%;
    border: none;
transition: all 0.5s;
}

#sendBtn:hover{
    opacity: 0.95;
    transform: scale(1.05);
}
#sendBtn > img{
    width: 2rem;
}
.imageInput-container,.fileInput-container{
    position: relative;
}
#imageInput , #fileInput{
    opacity: 0;
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
}

.imageLabel,.fileLabel{
    display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 3rem; */
  height: 100%;
  /* box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4); */
font-weight: bold;
  cursor: pointer;
  font-size: 2.5vmax;
  padding: 0 0.4rem;
  transition: transform .2s ease-out;
}
#imageInput:hover + .imageLabel,#imageInput:focus + .imageLabel ,
#fileInput:hover + .fileLabel,
#fileInput:focus + .fileLabel {
  transform: scale(1.02);
}



.chatContainerImage{
    border: 100%;
    width: 2.5rem;
    height: 2.5rem;
}
.previewImageContainer{
    width: 100%;
    height:87%;
   background-color: #00000026;
   position: relative;
   display: flex;
   justify-content: center;align-items: center;
}
.previewImageContainer >img{
    max-width:100% ;
    max-height: 70%;
}
.previewImageContainer > span{
    position: absolute;
    top:5px;
    right:5px ;
    font-size: 1.5rem;
    transition:all .2s;
    background-color: red;
    border-radius: 100%;
}
.previewImageContainer >span >svg{
    width: 2rem;
    height: 2rem;
    color:white
}
.previewImageContainer>span:hover {
    transform: scale(1.009);
    opacity: 0.95;
}
.previewImageContainer>span:active{
    transform: scale(1.01);
    background-color: rgb(205, 4, 4);
}
.sendImageBtn{
    background-color: blue;
    color: white;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem
 0.5rem;
    border-radius: 100%;
    border: none;
    position: absolute;
    bottom:10px;
    right: 10px;
transition: all 0.5s;
}