

.chatPage{
    background-color: rgb(24, 22, 22);
    width: 100vw;
    height: 100vh;
}
.chatPageContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: silver;
    height: 100%;
    width: 100%;}

    .chatContainer{
    
    background-color: white;
    width: 45%;
    height: 100%;
}
.userList{
    width: 27%;
    background-color: white;
}
.header{
    background-color: crimson;
    height: 10%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.header h2{
    color:white;
}
.header img{
    margin:2.5vmax;
    transition: all .5s;
    width: 2rem;
    /* background-color: white; */
}
.header img:hover{
    transform: scale(1.1);
}
.chatBox{
    /* border:0.2vmax solid black; */
    height: 78%;
    box-sizing: border-box;
    overflow-y:auto;
    background: ghostwhite;
}
.inputBox{
    border-top:0.2vmax solid rgba(0, 0, 0, 0.124) ;
    height: 12%;
    box-sizing: border-box;
    display: flex;
}


#chatInput{
    width: 80%;
    border:none;
    background-color: white;
    padding: 2vmax;
    box-sizing: border-box;
    outline: none;
    font-size: 1.2vmax;
    font-family: 'Roboto';
}
#sendBtn{
    background-color: crimson;
    color:white;
    width: 21%;
    border: none;
}

#sendBtn:hover{
    opacity: 0.97;
}
#sendBtn > img{
    width: 2rem;
}
.groupList{
    width: 27%;
    height: 100%;
    background: whitesmoke;
}

.groupList__groups{
    
    min-height: 20vh;
    width: 90%;
    margin: 1rem auto;
    
}
.groupList__groups__heading{
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    text-align: center; */
    border-bottom: 2px solid lightgray;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color:rgb(51, 50, 50);
    margin: 1rem auto;
}
.groupList__groups__group{
    font-size: 1.3;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-weight: 600;
    font-family: "Roboto";
    
}
.groupList__groups__group img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 0.7rem;
}