*{
    box-sizing: border-box;
}
.userList__heading{
    min-height: 12vh;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    color: blue;
    border-bottom: 2px solid whitesmoke;
}

.userList__heading__left{
    width: 18%;
    border-radius: 100%;
}
.tabLink{
    padding:0.2rem;

}



/* .userList__heading__left>img{
    width: 100%;
    height: 100%;
} */
.userList__heading__right{
    font-size: 1.6vmax;
    width: 60%;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins';
    padding: 1rem;
    color: #444;
}

.userList__search{
    margin:1rem auto;
    width: 95%;
}
.userList__search input{
    
    color: gray;
    padding: 0.4rem 0.6rem;
    font-size: 1.5vw;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    /* border-radius: 0.8rem; */
    font-weight: 500;
}
.userList__search::placeholder{
    color: gray;
    font-size: 1.5vw;
    padding: 0.3rem;
    font-weight: 500;
}

.userList__allchat{
    background: white;
    margin: 1rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.2s all;
    padding:0.2rem;
    display: flex;
}
.userList__allchat:hover{
    transform: scale(1.01);
    opacity: 0.95;
}
.userList__allchat>img{
    width: 4rem;
    margin: 0.2rem;
    border-radius: 100%;
    height: 4rem;
}
.userList__allchat__right{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.userList__allchat__right >div:first-child{
    display: flex;
    justify-content: space-between;
    font-size: 1.5vmax;
    align-items: center;
    margin: 0;
    padding: 0 0.2rem;
    height: 50%;
}
.userList__allchat__right h5{
   
    margin: 0;
    color: #333;
    font-size: 1.5vmax;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Roboto";

}
.userList__allchat__right >div:last-child{
    display: flex;
    padding: 0.2rem;
    font-size: 1.2vmax;
    color: gray;
    align-items: center;
    height: 50%;
    justify-content: space-between;
}
.messageTime{
    font-size: 1vmax;
    color: gray;
}
.userList__tabs{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: floralwhite; */
}
.userList__tabs >*{
    
    width: 33%;
    font-size: 1.5vmax;
    font-family: "Poppins";
    transition: all .4s;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    box-shadow: 1px 1px 1px 2px #0000000d;
    color: #333;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    background: white;
    line-height: 1.5;
}
.userList__tabs >*:hover{
    opacity: 0.9;
    color:gray;
}
.tabHighlight{
    background-color: silver!important;
    color:white!important;
}
.userList__userContainer{
    width: 100%;
    /* height: 30vh; */
    overflow-y: auto;
}
.userList__userContainer__user{
    font-size: 1.7vmax;
    display: flex;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    align-items: center;
    padding: 0.4rem;
    font-family: 'Poppins';
    margin: 0.7rem 0;
}
.userList__userContainer img {
    width: 4vmax;
    height: 4vmax;
    border-radius: 100%;
    margin-right: 0.7rem;
}