.dropbtn {
    background-color: transparent;
    color: white;
    /* padding: 0.1rem; */
    border-radius: 100%;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition:all .2s ease-in-out;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover {
    
    background-color: rgba(0, 0, 0, 0.253)
  }
  .dropbtn:active{
      background-color: rgba(0, 0, 0, 0.422);
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    transform: all .3s;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    transition:all .5s;
    position: absolute;
    background-color: #f1f1f1;
    width: fit-content;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;
  z-index: 10;}